* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background: #c9d6ff;
  color: #000;
  height: 10vh;
}

.container {
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  color: #000;
  height: 90vh;
}
