<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="{% url 'index' %}">Inicio</a></li>
        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
        <li><a href="{% url 'register' %}">Registrarse</a></li>
      </ul>
    </nav>
    <div class="container"></div>
    {% block body %} {% endblock %}
  </body>
</html>
