<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <div class="box-logo">
        <a href="#" class="logo">EL COMILON</a>
      </div>
      <div class="box-menu">
        <a href="#" class="menu-item menu-btn">Menú</a>
        <a href="#" class="menu-item regis">Registrarse</a>
        <a href="#" class="menu-item login">Ingresar</a>
      </div>
    </div>
    <div class="container">{% block body %} {% endblock %}</div>
    <div class="footer">
      <div class="tm">El Comilon&trade;</div>
    </div>
  </body>
</html>
